<app-admin-header></app-admin-header>
 <table border="1">
    <thead>
        <tr>
            <!-- <th>RoleId</th> -->
            <th>ProjectTeamName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let  projectTeam of projectTeam">
            <!-- <td>{{role._id}}</td> -->
            <td>{{projectTeam.projectTitle}}</td>
            <td><button (click)="editProjectTeam(projectTeam._id)">Add Member</button></td>
            <td><button (click)="deleteProjectTeam(projectTeam._id)">Delete</button></td>
        </tr>
    </tbody>
 </table>