<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>

        .container{

            text-align: center;
            margin: 100px 0px 0px 300px;
            border: 2px solid black;
            width: 350px;
            height: 350px;
            color: yellow;
            background-color: red;
        }

        .btn input {

            color: yellow;
            background-color: red;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center; color: red;">Welcome To Project Management System</h1>
    <div class="container">
        <h1>Signup</h1>
        <div>
            FirstName : <input placeholder="First Name" type="text" [(ngModel)]="firstName">
        </div>
        <br>
        <div>
            Email : <input type="text" placeholder="Email id" [(ngModel)]="email">
        </div>
        <br>
        <div>
            Password : <input type="password" placeholder="password" [(ngModel)]="password">
        </div>
        <br>
        <div>
            Gender:
            Male<input type="radio" name="Gender" value="Male" [(ngModel)]="gender">
            Female<input type="radio" name="Gender" value="Female" [(ngModel)]="gender">
        </div>
        <br>
        <div>
            Contact Number: <input type="text" placeholder="Contact Number" [(ngModel)]="contactNum">
        </div>
        <br>    
        <div class="btn">
            <input type="button" value="Signup" name="submit" (click)="saveUser()" />
        </div>
        <br>
        <a routerLink="/login" style="color: yellow;">Login</a>
    </div>

</body>

</html>